<!Doctype html>
<html>
<head>
    <title>Home page </title>
</head>
<body>
{% block content %}
hello motherfuckers
{% end block %}
</body>
</html>
{#jinja templating documentation summary#}
{#{% block content %}#}
{#{% endblock %}#}
{#this templating an help reducing of code to be repeated in other html pages by doing th following#}
{#{% extends "base.html" %}#}
{#{% block content %}#}
{#{% endblock %}#}
{# the above is a  demonstration of how to use a template from base.html file instead of rewriting the whole page content and just modify the part that differ#}